.main {
    justify-content: center;
    align-content: center;
}

.section {
    width: 75%;
    height: 75%;
    padding: 2%;
    background-color: Gainsboro;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.general-info {
    width: 60%;
    height: 15%;
    /* padding: 1%; */
    background-color: green;
    /* background-color: whitesmoke; */

    display: flex;
    justify-content: space-between;
}

.debit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 1em 1em 2em;
    width: 20%;
}

.balance {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 2em 1em 1em;
    width: 20%;
}

.number {
    background-color: aqua;
}

.history {
    width: 80%;
    /* height: 60%; */
    /* background-color: whitesmoke; */
    background-color: purple;
    margin-top: 2em;
}

.make-transaction{
    width: 80%;
    background-color: #646464;
}

.make-transaction > form {
    /* padding: 1em; */
    width: 100%;
    background-color: #A0A0A0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.make-transaction > form > .input-column {
    /* display: flex; */
    /* flex-direction: column; */
    display: block;
    
}
