<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/login.css">

    <title>BANK LOGIN</title>
    <!-- <link rel="import" href="navbar.html"> -->
    <link rel="stylesheet" type="text/css" href="../styles/test.css">
    <script src="../js/test.js" defer></script>
</head>
<body>

    <div class="container">

        <object type="text/html" data="navbar.html"></object>
        <!-- <div class="header">
            logo, jakieś inne rzeczy
        </div> -->

        <div class="main">
            <div class = "section1">
                <div class="logo-container">
                    Jakieś logo
                </div>
                <div class="login-form">
                    <form>
                        <input name="email" type="text" placeholder="email@email.com">
                        <input name="password" type="password" placeholder="password">
                        <button>LOGIN</button>
                    </form>
                </div>
            </div>
            <div class = "section2">
                <div class="announcements">
                    komunikaty
                </div>
            </div>

        </div>

        <div class="footer">
            stopka kontaktowa
        </div>

    </div>
</body>
