<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/balance.css">
    <title>BALANCE</title>
    

</head>
<body>
    <div class="container">

        <div class="header">
            logo, jakieś inne rzeczy
        </div>

        <div class="main">
            <div class="general-info">
                <div class="debit">
                    Suma Obciążeń: 1234,56
                </div>
                <div class="balance">
                    Stan Konta: 12345,65
                </div>
                
            </div>
            <div class="number">
                Numer konta: 1234 1234 1234 1234 1234 1234 12
            </div>
            

            <div class="history">
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
                <div class = "transaction"> Transakcja </div>
            </div>
        </div>

        <div class="footer">
            stopka kontaktowa
        </div>

    </div>
</body>


<!-- <body>
    <div class="container">

        <div class="header">
            logo, jakieś inne rzeczy
        </div>

        <div class="main">
            <div class="section">
                <div class="balance">
                    <div class="debit">
                        suma obciążeń:
                    </div>
                    <div class="balance2">
                        stan konta:
                    </div>
                </div>

                <div class = "history">
                    Transakcja 
                </div>
            </div>
        </div>

        <div class="footer">
            stopka kontaktowa
        </div>

    </div>
</body> -->
