<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/deposit.css">
    <title>BALANCE</title>
    

</head>
<body>
    <div class="container">

        <div class="header">
            logo, jakieś inne rzeczy
        </div>

        <div class="main">
            <div class="create">
                Załóż Lokatę
            </div>

            <div class="deposits">
                <div class = "deposit"> 
                    Nazwa lokaty: [object] <br>
                    Oprocentowanie: [object] <br>
                    Od: [object] <br>
                    Do: [object] <br>
                    Kwota: [object] <br>
                </div>
                <div class = "deposit"> 
                    Nazwa lokaty: [object] <br>
                    Oprocentowanie: [object] <br>
                    Od: [object] <br>
                    Do: [object] <br>
                    Kwota: [object] <br>
                </div>
                <div class = "deposit"> 
                    Nazwa lokaty: [object] <br>
                    Oprocentowanie: [object] <br>
                    Od: [object] <br>
                    Do: [object] <br>
                    Kwota: [object] <br>
                </div>
                <div class = "deposit"> 
                    Nazwa lokaty: [object] <br>
                    Oprocentowanie: [object] <br>
                    Od: [object] <br>
                    Do: [object] <br>
                    Kwota: [object] <br>
                </div>
                <div class = "deposit"> 
                    Nazwa lokaty: [object] <br>
                    Oprocentowanie: [object] <br>
                    Od: [object] <br>
                    Do: [object] <br>
                    Kwota: [object] <br>
                </div>
                <div class = "deposit"> 
                    Nazwa lokaty: [object] <br>
                    Oprocentowanie: [object] <br>
                    Od: [object] <br>
                    Do: [object] <br>
                    Kwota: [object] <br>
                </div>
                <div class = "deposit"> 
                    Nazwa lokaty: [object] <br>
                    Oprocentowanie: [object] <br>
                    Od: [object] <br>
                    Do: [object] <br>
                    Kwota: [object] <br>
                </div>
                <div class = "deposit"> 
                    Nazwa lokaty: [object] <br>
                    Oprocentowanie: [object] <br>
                    Od: [object] <br>
                    Do: [object] <br>
                    Kwota: [object] <br>
                </div>
                <div class = "deposit"> 
                    Nazwa lokaty: [object] <br>
                    Oprocentowanie: [object] <br>
                    Od: [object] <br>
                    Do: [object] <br>
                    Kwota: [object] <br>
                </div>
                <div class = "deposit"> 
                    Nazwa lokaty: [object] <br>
                    Oprocentowanie: [object] <br>
                    Od: [object] <br>
                    Do: [object] <br>
                    Kwota: [object] <br>
                </div>
                
            </div>
        </div>

        <div class="footer">
            stopka kontaktowa
        </div>

    </div>
</body>


<!-- <body>
    <div class="container">

        <div class="header">
            logo, jakieś inne rzeczy
        </div>

        <div class="main">
            <div class="section">
                <div class="balance">
                    <div class="debit">
                        suma obciążeń:
                    </div>
                    <div class="balance2">
                        stan konta:
                    </div>
                </div>

                <div class = "history">
                    Transakcja 
                </div>
            </div>
        </div>

        <div class="footer">
            stopka kontaktowa
        </div>

    </div>
</body> -->
