<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/login.css">
    <title>BANK LOGIN</title>
    

</head>
<body>
    <div class="container">

        <div class="header">
            logo, jakieś inne rzeczy
        </div>

        <div class="main">
            <div class = "section1">
                <div class="code-form">
                    <form>
                        <input name="code" type="text" placeholder="KOD Z MAIL">
                        <button>POTWIERDZ</button>
                    </form>
                </div>
            </div>
            <div class = "section2">
                <div class="announcements">
                    komunikaty
                </div>
            </div>

        </div>

        <div class="footer">
            stopka kontaktowa
        </div>

    </div>
</body>
