<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/register.css">
    <title>BANK REGISTER</title>
    

</head>
<body>
    <div class="container">

        <div class="header">
            logo, jakieś inne rzeczy
        </div>

        <div class="main">
            <div class="register-form">
                <form>
                    <input name="name" type="text" placeholder="Imie">
                    <input name="surname" type="text" placeholder="Nazwisko">
                    <input name="email" type="text" placeholder="email@email.com">
                    <input name="phoneNumber" type="text" placeholder="Nr. tel.">
                    <input name="pesel" type="text" placeholder="PESEL">
                    <input name="name" type="text" placeholder="skan dowodu!!!">
                    <input name="name" type="text" placeholder="PYTANIE POMOCNICZE">
                    <input name="name" type="text" placeholder="ODPOWIEDŹ NA PYTANIE">
                    <button>PRZEŚLIJ DO WERYFIKACJI</button>
                </form>
            </div>
        </div>

        <div class="footer">
            stopka kontaktowa
        </div>

    </div>
</body>
