<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/settings.css">
    <title>USTAWIENIA</title>
    

</head>
<body>
    <div class="container">

        <div class="header">
            logo, jakieś inne rzeczy
        </div>

        <div class="main">

            <div class="options">
                <div class="option">
                    Subskrypcja email
                    <input type="checkbox" id="notifications" name="option1" value="0">
                </div>
                <div class="option">
                    Logowanie 2-etapowe
                    <input type="checkbox" id="2steplogin" name="option1" value="0">
                </div>
                <div class="option button">
                    <button type="button">Usuń konto</button>
                </div>
            </div>

        </div>

        <div class="footer">
            stopka kontaktowa
        </div>

    </div>
</body>
