<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Marsupium-testpage</title>
    <link href="../styles/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous" defer></script>
</head>


<body>

    <div class="d-flex align-items-center pt-5 h-75">
        <div class="container rounded d-flex col-10 flex-column background-color-container p-5 pt-4 rounded-5 border border-white border-1 h-100">
            <button type="button" class="btn btn-primary btn-lg align-self-end overflow-y-scroll">Request for loan</button>
            <div id="loans-container" class="container mt-3 text-light h-100 overflow-y-scroll">
                    <h1>TEST PAGE</h1>
            </div>
        </div>
    </div>

</body>

</html> 